<html>

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Character encoding scheme -->
    <meta charset="UTF-8">
    <title>Options for the user</title>


</head>

<body>
    <section>
        <div class="container" style="color: #160214">
            <center>
                <h1 style="font-family: algerian;"> Cloud Based Secure Text transfer</h1><br><br>
                <div class="navbar">
                    <table>
                        <tr>
                            <td style="padding: 3%"><a href="upload-file"><button>Upload File</button></a></td>
                            <td style="padding: 3%"><a href="file-directory"><button>File Directory</button></a></td>
                            <td style="padding: 3%"><a href="public-key-directory"><button>Download Public Key</button></a></td>
                            <td style="padding: 3%">
                                <a href="register">
                                    <button>Register New User</button>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </center>
            <br><br>
            <div class="fluid-container" style="font-size:20px;color: #160214">
                <p>The user gets to choose from one of the following options:</p>
                <br>
                <ul>
                    <li>He gets to upload the file to the cloud in a secured manner.</li><br>
                    <li>He gets to choose from thelist of all the different files that are present on the cloud provided he has the required credentials for decrypting the file.</li><br>
                    <li>He can also download public key associated with the user with whom the file transfer is to take place.</li><br>
                    <li>To upload his file to cloud storage the user needs to be registered so that his file can be shared with the other desired person in an instant.</li><br>
                </ul>
            </div>
            <h3>
                <span style="text-align: end; font-family: Georgia, 'Times New Roman', Times, serif;">
                <p>VAIBHAV BAKSHI</p>
                <p>SHARAT P M</p>
			</span>
            </h3>
        </div>
    </section>
</body>

</html>