autopep8==1.6.0
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.3
colorama==0.4.4
Flask==2.0.2
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.2
MarkupSafe==2.0.1
neotermcolor==2.0.10
pycodestyle==2.8.0
pycryptodome==3.11.0
PyYAML==6.0
requests==2.26.0
requests-toolbelt==0.9.1
secretsharing==0.2.6
sshare==0.0.8
toml==0.10.2
tqdm==4.62.3
urllib3==1.26.7
Werkzeug==2.0.2
